/* ChenYuluoyan 系列 */
@font-face {
    font-family: 'ChenYuluoyan';
    src: url('/fonts/ChenYuluoyan-2.0-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'ChenYuluoyan Mono';
    src: url('/fonts/ChenYuluoyan-Thin-Monospaced.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


/* GenKiGothic2TW 系列 */
@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-EL.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-L.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-R.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-M.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-H.otf') format('opentype');
    font-weight: 700;
}


@font-face {
    font-family: 'GenKiGothic2TW';
    src: url('/fonts/GenKiGothic2TW-B.otf') format('opentype');
    font-weight: 800;
}


/* GenYoGothic2TW 系列 */
@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-EL.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-L.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-R.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-M.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-N.otf') format('opentype');
    font-weight: 550;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-H.otf') format('opentype');
    font-weight: 700;
}


@font-face {
    font-family: 'GenYoGothic2TW';
    src: url('/fonts/GenYoGothic2TW-B.otf') format('opentype');
    font-weight: 800;
}


/* Iansui 字體 */
@font-face {
    font-family: 'Iansui';
    src: url('/fonts/Iansui-Regular.otf') format('opentype');
    font-weight: 400;
}


/* PingFang 系列（HK、SC、TC） */
@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Thin.otf') format('opentype');
    font-weight: 100;
}


@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Ultralight.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Light.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Medium.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'PingFang HK';
    src: url('/fonts/PingFangHK-Semibold.otf') format('opentype');
    font-weight: 600;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Thin.otf') format('opentype');
    font-weight: 100;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Ultralight.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Light.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Medium.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFangSC-Semibold.otf') format('opentype');
    font-weight: 600;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Thin.otf') format('opentype');
    font-weight: 100;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Ultralight.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Light.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Medium.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'PingFang TC';
    src: url('/fonts/PingFangTC-Semibold.otf') format('opentype');
    font-weight: 600;
}


/* SourceHanSansTC 系列 */
@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-ExtraLight.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Light.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Normal.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Medium.otf') format('opentype');
    font-weight: 600;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Bold.otf') format('opentype');
    font-weight: 700;
}


@font-face {
    font-family: 'Source Han Sans TC';
    src: url('/fonts/SourceHanSansTC-Heavy.otf') format('opentype');
    font-weight: 800;
}


/* SourceHanSerifTC 系列 */
@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-ExtraLight.otf') format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-Light.otf') format('opentype');
    font-weight: 300;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-Medium.otf') format('opentype');
    font-weight: 500;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-SemiBold.otf') format('opentype');
    font-weight: 600;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-Bold.otf') format('opentype');
    font-weight: 700;
}


@font-face {
    font-family: 'Source Han Serif TC';
    src: url('/fonts/SourceHanSerifTC-Heavy.otf') format('opentype');
    font-weight: 800;
}